.aspiration__label1 {
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.094px;
  margin-bottom: 5px;
}
.aspiration__label2 {
  color: #979797;
  font-size: 12px;
  font-weight: 300;
  letter-spacing: 0.058px;
  margin-bottom: 20px;
}

.price__radio__label {
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.094px;
  margin-top: 40px;
  line-height: normal;
}

.aspiration__dropdown {
  width: 100%;
  height: 50px;
  border-radius: 8px;
  border: 0.7px solid #293036;
  background: #151515;
  color: #ffff;
  font-size: 14px !important;
  font-weight: 400;
  letter-spacing: 0.058px;
  padding: 15px 20px;
  appearance: none; /* Remove the default arrow icon in some browsers */
  background-image: url("../assets/arrow-down-sign-to-navigate.png"); /* Replace with the path to your custom icon */
  background-position: right 15px center;
  background-repeat: no-repeat;
}

.aspiration__dropdown:focus {
  outline: none;
}

.aspiration__main__dropdown {
  .ant-select {
    width: 100% !important;
  }
  .ant-select-selector {
    width: 100% !important;
    height: 50px !important;
    border-radius: 8px !important;
    font-weight: 400;
    letter-spacing: 0.058px;
    border: 0.7px solid #293036 !important;
    background: #151515 !important;
    color: #ffff !important;
  }

  .ant-select-selection-placeholder {
    color: #ffff !important;
    display: flex;
    align-items: center;
    padding-left: 5px !important;
  }
  .ant-select-arrow {
    font-size: 16px !important;
    color: #ffff !important;
    padding-right: 5px !important;
  }
  .ant-select-dropdown {
    border: 0.7px solid #293036 !important;
    background: #151515 !important;
  }

  .ant-select-selection-search-input {
    display: flex;
    align-items: center;
  }
  .ant-select-selection-item {
    display: flex;
    align-items: center;
  }
}

.aspiration__antd__dropdown__popup {
  border-radius: 8px !important;
  border: 1px solid #4f4e54 !important;
  background: #000 !important;
  backdrop-filter: blur(13.591408729553223px);
  color: #fff !important;
}

// change background color for disabled
.ant-select-disabled .ant-select-selector {
  border-radius: 8px;
  border: 0.7px solid #293036 !important;
  background: #000000 !important;
  color: gray !important;
}

.aspiration__antd__dropdown2 {
  margin-top: 20px;
}

.ant-select-show-search .ant-select-selector input {
  height: 50px !important;
}

.ant-select-dropdown
  .ant-select-item-option-selected:not(.ant-select-item-option-disabled) {
  background-color: #4f4e54 !important;
  color: #fff !important;
}

.ant-select-show-search.ant-select:not(.ant-select-customize-input)
  .ant-select-selector
  input {
  display: flex !important;
  align-items: center !important;
}

.ant-select-dropdown .ant-select-item {
  color: #fff !important;
  border-bottom: 1px solid #4f4e54 !important;
  padding: 10px;
}

.rc-virtual-list-scrollbar-thumb {
  background-color: $primary-color !important;
  width: 3px !important;
  margin-left: 7px;
}

.ant-empty-normal .ant-empty-description {
  color: white;
}
