@import "./variable.scss";
@import "./global.scss";
@import "./header.scss";
@import "./main.scss";
@import "./footer.scss";
@import "./shuklamain.scss";
@import "./how-it-works.scss";
@import "./home-page.scss";
@import "locationModalPopUp.css";
@import "./future-date.scss";
@import "./HomePagePopUp.scss";
@import "./footer-pages.scss";
@import "./image-warning-popup.scss";
@import "./RangerSlider.scss";
@import "./gallery-create-date-dropdown.scss";
@import "./super-interested.scss";
@import "./new-home-page.scss";
